body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

header {
    background: #e10600;
    padding: 20px;
}

.video-container {
    margin: 20px auto;
    width: 80%;
}

iframe {
    width: 100%;
    height: 500px;
}

.match-info {
    margin-top: 20px;
}